﻿

<div class="container d-flex flex-column">

    <div class="d-flex container flex-column">
        <h4 class="text-center text-uppercase">Admin Dashboard</h4>
    </div>


    <div class="d-flex flex-column">

        <div class="border stock-wrapper d-flex flex-row mb-3 mt-3">
            <div class="container d-flex flex-column">
                <div id="active-users-content" class="d-flex flex-row p-3 justify-content-center align-items-center">
                    <canvas class="canvas" id="UsersPerPeriodChart" width="1400" height="600"></canvas>
                </div>
            </div>
        </div>

        <div class="border stock-wrapper d-flex flex-row mb-3 mt-3">
            <div class="container d-flex flex-column">
                <div id="active-users-content" class="d-flex flex-row p-3 justify-content-center align-items-center">
                    <canvas class="canvas" id="Tradelasthour" width="1400" height="600"></canvas>
                </div>
            </div>
        </div>

        <div class="border stock-wrapper d-flex flex-row mb-3 mt-3">
            <div class="container d-flex flex-column">
                <div id="active-users-content" class="d-flex flex-row p-3 justify-content-center align-items-center">
                    <canvas class="canvas" id="ActiveUsers" width="1400" height="600"></canvas>
                </div>
            </div>
        </div>
        

    </div>
</div>




@section Scripts{
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>


    <script src="~/js/adminDashboard.js"></script>

}


@section Styles{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/adminDashboard.css" rel="stylesheet" />
}
@section Modal{
    <div class="modal" tabindex="-1" role="dialog" id="modal-wrapper-edit-portofolio">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title-edit-portofolio"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-edit-portofolio">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="button-save">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
