﻿
@{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Application users</h2>
<br />
<table id="table_id" class="display" style="width:100%">
</table>
@section Scripts{
    <script src="~/js/AllUsers.js"></script>
}
@section Modal{
    <div class="modal" tabindex="-1" role="dialog" id="modal-wrapper-edit-user">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title-edit-user"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-edit-user">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="button-save">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}