﻿
@model StockExchange.DataBase.Models.TradeModel

@{
    ViewData["Title"] = "Trade";
}

<div class="row d-flex flex-column justify-content-centera align-items-center">
    <div class="col-md-12">
        <form asp-action="Trade" asp-controller="Portofolio" id="general-form-add">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input style="display:none;" asp-for="Id" value="@Model.Id" class="form-control" />
            <input style="display:none;" asp-for="StockId" value="@Model.StockId" class="form-control" />
            <input style="display:none;" asp-for="PortofolioId" value="@Model.PortofolioId" class="form-control" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StockName" class="control-label"></label>
                        <input asp-for="StockName" value="@Model.StockName" class="form-control" readonly  />
                        <span asp-validation-for="StockName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="PriceStock" class="control-label"></label>
                        <input asp-for="PriceStock" value="@Model.PriceStock" class="form-control" readonly  />
                        <span asp-validation-for="PriceStock" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="QuantityOwn" class="control-label"></label>
                        <input asp-for="QuantityOwn" value="@Model.QuantityOwn" class="form-control" readonly  />
                        <span asp-validation-for="QuantityOwn" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Sum" class="control-label"></label>
                        <input asp-for="Sum" class="form-control" value="@Model.Sum"  readonly  />
                        <span asp-validation-for="Sum" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Quantity" class="control-label"></label>
                        <input asp-for="Quantity" class="form-control" min="0"/>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TotalPrice" class="control-label"></label>
                        <input asp-for="TotalPrice" class="form-control" readonly  />
                        <span asp-validation-for="TotalPrice" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label"> Operation Type</label>
                        <div class="checkbox">
                            @Html.DropDownListFor(model => model.OperationType, new SelectList(ViewBag.OperationTypes, "Id", "Display"),
                                      new { @class = "select form-control" })

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>



    <script type="text/javascript">

        $("#Quantity").on("change", function () {
            var quantity = $(this).val();
            var price = $("#PriceStock").val();
            console.log(quantity);
            console.log(price);
            $("#TotalPrice").val(quantity * price);
     
        });
    </script>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}