﻿
@model StockExchange.DataBase.Models.NewPortofolio

@{
    ViewData["Title"] = "New";
}

<div class="row d-flex flex-column justify-content-centera align-items-center">
    <div class="col-md-12">
        <form enctype="multipart/form-data" asp-action="NewPortofolio" id="general-form-add">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input style="display:none;" asp-for="Id" value="@Model.Id" class="form-control" />
            <input style="display:none;" asp-for="UserId" value="@Model.UserId" class="form-control" />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>


@section scripts{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}