﻿
@model StockExchange.DataBase.Entities.Portofolio


<div class="d-flex flex-fill flex-column">

    <div class="d-flex container flex-column">
        @if (Model != null)
        {
        <input id="PortofolioValue" style="display:none" value="@Model.Id" />
        <h4 class="text-center text-uppercase">@Model.Name</h4>
        }
        else
        {
        <h4 class="text-center text-uppercase">There are no portofolio. Please create one!</h4>
        }
    </div>

    <div class="d-flex flex-row justify-content-end align-items-center">
        @if (ViewBag.Portofolios != null)
        {
        <select id="portofolio-input-filter" class="mr-2 btn btn-primary">
            @foreach (var topic in (List<StockExchange.DataBase.Models.IdDisplayItem>)ViewBag.Portofolios)
                {
            <option value="@topic.Id">@topic.Display</option>
                }
        </select>
        }
        <button type="button" class="btn btn-primary mr-2" id="button-modal-new-portofolio">Add New Portofolio</button>
        <button type="button" class="btn btn-primary mr-2" id="button-modal-new-stock">Add New Stock</button>
    </div>

    <div class="d-flex flex-fill  flex-column">
        @if (Model?.PortofolioItems != null && Model?.PortofolioItems?.Count() != 0)
        {
            <div id="review-wrapper-container" class="d-flex container flex-column">
                @foreach (var item in Model.PortofolioItems)
                 {
                    <div class="border stock-wrapper d-flex flex-row mb-3 mt-3" id="@item.Stock.Id">
                        <div style="width:300px;" class="d-flex flex-column">
                            <div class="stock-header d-flex flex-column p-3">
                                <div class="">
                                    <h4>@item.Stock.Name</h4>
                                </div>

                                <div >
                                    Stock Price: $<span id="stock-price-@item.Stock.Id" class="stock-price">@item.Stock.Price</span>
                                </div>
                                <div class="">
                                    Quantity Own: @item.QuantityOwn
                                </div>
                                <div class="">
                                    Sum:  $@item.Money
                                </div>
                            </div>
                            <div class="p-3"> 
                                <button type="button" class="btn btn-primary mr-2 trade-stock-button" id="@item.Stock.Id">Trade</button>
                            </div>
                           
                        </div>
                        <div class="d-flex flex-column">
                            <div id="stock-content-@item.Stock.Id" class="stock-content flex-fill d-flex flex-row p-3">

                                <canvas class="canvas-stock" id="canvas-@item.Stock.Id" width="800" height="600"></canvas>


                            </div>
                        </div>
                    </div>
                 }
            </div>
        }
        else
        {
        <h4 class="text-center text-uppercase">Portofolio is empty!</h4>
        }
    </div>
</div>




@section Scripts{
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/js/microsoft/signalr/dist/browser/signalr.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/chart.esm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.1/helpers.esm.min.js"></script>*@

    <script src="~/js/portofolio.js"></script>

}


@section Styles{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/portofolio.css" rel="stylesheet" />
}
@section Modal{
    <div class="modal" tabindex="-1" role="dialog" id="modal-wrapper-edit-portofolio">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title-edit-portofolio"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-edit-portofolio">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="button-save">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}