﻿@model LoginViewModel
@{
    ViewData["Title"] = "User Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex flex-row justify-content-center">
    <div class="col-md-3">
        <h4 class="text-center">Login</h4>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary col-sm-6">Submit</button>
            </div>
            <div class="form-group row">
                <small class="col-md-6 d-flex flex-row justify-content-start"><a asp-controller="Account" asp-action="Register">Creaza cont nou</a></small>
                <small class="col-md-6 d-flex flex-row justify-content-end"><a asp-controller="Account" asp-action="ResetPassword">Ai uitat parola?</a></small>
            </div>
        </form>
    </div>
</div>