﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<StockExchange.DataBase.Entities.User> SignInManager
@inject UserManager<StockExchange.DataBase.Entities.User> UserManager
@*<div>Hello @UserManager.GetUserName(User)!</div>*@

@model StockExchange.Models.Profile

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <meta content="width=device-width, initial-scale=1" name="viewport" />
}


<div class="row d-flex flex-column justify-content-center align-items-center">
    <div class="col-md-8">
        <h4 class="text-center">User profile</h4>
        <hr />
        <form asp-action="" id="" novalidate enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" value="@Model.LastName" class="form-control" readonly />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" value="@Model.FirstName" class="form-control" readonly />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" value="@Model.Email" class="form-control" readonly />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Roles" class="control-label"></label>
                    <input asp-for="Roles" value="@Model.Roles" class="form-control" readonly />
                    <span asp-validation-for="Roles" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" value="@Model.Address" class="form-control" readonly />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>