﻿@model StockExchange.DataBase.Models.AddToPortofolio

@section Style{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />

}

<div class="container-fluid">
    <div class="row">

        <form asp-action="AddToPortofolio" class="container-fluid" id="form-AddToPortofolio">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="StockId"  type="hidden" />
            <div class="form-group">
                <label class="control-label"> Portofolio name</label>
                <div class="checkbox">
                    @Html.DropDownListFor(model => model.Id, new SelectList(ViewBag.IdDisplayItems, "Id", "Display"),"",
                              new { @class = "select form-control" })

                </div>
            </div>
           
        </form>
    </div>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

}

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


