﻿.stock {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: rgb(239, 239, 245);
}

.border {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.select2-selection {
    height: 37px !important;
    /* //   width: 100% !important;*/
    height: calc(1.5em + .75rem + 2px) !important;
    padding-top: .375rem !important;
    padding-bottom: .375rem !important;
    padding-right: .75rem !important;
    padding-left: .35rem !important;
    margin-right: 7px !important;
}

.select2-selection__arrow {
    margin-right: 8px;
    height: 36px !important;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}